body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
  background-color: #fff; }

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1; }

.glyphicon-arrow-left {
  background: url("../img/toleft2.png");
  width: 29px;
  height: 46px; }

.glyphicon-arrow-right {
  background: url("../img/toright2.png");
  width: 29px;
  height: 46px; }

.datetimepicker .datetimepicker-days table.table-condensed thead .switch .switchline {
  float: left;
  margin: 0 5px; }
.datetimepicker .datetimepicker-days table.table-condensed thead .switch .lunarMonth, .datetimepicker .datetimepicker-days table.table-condensed thead .switch .switchlunar {
  float: left;
  width: 42px;
  font-size: 12px; }
.datetimepicker .datetimepicker-days table.table-condensed thead .switch .switch_YM {
  float: left;
  width: 60px;
  position: relative;
  cursor: pointer; }
  .datetimepicker .datetimepicker-days table.table-condensed thead .switch .switch_YM.first {
    margin-left: 38px; }
  .datetimepicker .datetimepicker-days table.table-condensed thead .switch .switch_YM .allyears, .datetimepicker .datetimepicker-days table.table-condensed thead .switch .switch_YM .allmonth {
    width: 55px;
    position: absolute;
    left: 9px;
    border: 1px solid #eee;
    height: 242px;
    overflow-y: auto;
    z-index: 200;
    display: none; }
    .datetimepicker .datetimepicker-days table.table-condensed thead .switch .switch_YM .allyears.active, .datetimepicker .datetimepicker-days table.table-condensed thead .switch .switch_YM .allmonth.active {
      display: block; }
    .datetimepicker .datetimepicker-days table.table-condensed thead .switch .switch_YM .allyears > p:hover, .datetimepicker .datetimepicker-days table.table-condensed thead .switch .switch_YM .allmonth > p:hover {
      background-color: #abc;
      color: #fff; }
    .datetimepicker .datetimepicker-days table.table-condensed thead .switch .switch_YM .allyears > p.active, .datetimepicker .datetimepicker-days table.table-condensed thead .switch .switch_YM .allmonth > p.active {
      background-color: #F19B2E; }
.datetimepicker .datetimepicker-days table.table-condensed thead .switch .toToday {
  background-color: #63A2E2;
  width: 32px;
  float: left;
  cursor: pointer;
  display: none; }
.datetimepicker .datetimepicker-days table.table-condensed th, .datetimepicker .datetimepicker-days table.table-condensed td {
  text-align: center;
  width: 60px;
  height: 50px;
  border: 1px solid #eee; }
.datetimepicker .datetimepicker-days table.table-condensed tbody tr.oddcl td {
  background-color: #DDDADA; }
  .datetimepicker .datetimepicker-days table.table-condensed tbody tr.oddcl td div.lunarday {
    background-color: #DDDADA; }
.datetimepicker .datetimepicker-days table.table-condensed tbody tr td.today {
  background-color: #039;
  color: #fff; }
  .datetimepicker .datetimepicker-days table.table-condensed tbody tr td.today div.lunarday {
    color: #fff;
    background-color: #039; }
.datetimepicker .datetimepicker-days table.table-condensed tr .day {
  cursor: pointer;
  vertical-align: top;
  color: #000; }
  .datetimepicker .datetimepicker-days table.table-condensed tr .day.old, .datetimepicker .datetimepicker-days table.table-condensed tr .day.new {
    color: #999; }
  .datetimepicker .datetimepicker-days table.table-condensed tr .day.selected {
    border: 1px solid #4D9DEE; }
  .datetimepicker .datetimepicker-days table.table-condensed tr .day .lunarday {
    font-size: 10px;
    display: block;
    background-color: initial;
    color: #6BCCEB; }
  .datetimepicker .datetimepicker-days table.table-condensed tr .day .worktime, .datetimepicker .datetimepicker-days table.table-condensed tr .day .bustime, .datetimepicker .datetimepicker-days table.table-condensed tr .day .freetime {
    text-align: left;
    font-weight: 200;
    font-size: 0.8em;
    float: left;
    color: #FFF; }
  .datetimepicker .datetimepicker-days table.table-condensed tr .day .bustime {
    background-color: red; }
  .datetimepicker .datetimepicker-days table.table-condensed tr .day .freetime {
    background-color: #12AA55; }
  .datetimepicker .datetimepicker-days table.table-condensed tr .day .dd {
    line-height: 30px; }
